/*
*/
.nav-bar{

    width: 100%;
    height: 24px;
    background-image: url(../images/nav_bg.png) ;
    background-repeat: repeat-x;
}

.nav-bar > li{

    float: left;
    font-size: 0.8em;
    margin: 0px 3px;
    position: relative;
    text-align: center;
    line-height: 24px;
}

.dropdown-toggle{

    color:#616777;

}

.dropdown a:hover{

    color:black;
   
}

.dropdown-menu{
    display: none;
    padding: 3px;
    outline:#A8A5A5 solid 1px;
    position: absolute;
    top:24px;
    left: 0px;
    background-color: #F0F0F0;
    white-space:nowrap; 
    text-align: left;
    -webkit-box-shadow: 3px 3px 3px #938080;
    box-shadow: 3px 3px 3px #938080;
    z-index: 99;
}

.dropdown-menu li{

    padding-left: 24px;
    margin: 1px 0px;
    outline-color: blue;
    outline-style: none;
    outline-width: 1px;
    
}

.dropdown-menu a{

    color: black;
    font-size: 12px;
    display: block;
    padding: 0px 8px 0px 3px;
    background-color: #FFFFFF;
    
}

/*Setting the dividing line*/
.divider{
    
    *+position: absolute;
    border-bottom: 1px dashed black;
    height: 1px;

}

.sidepush{
    position: relative;
}

.sidepush-menu{

    display: none;
    padding: 3px;
    outline:#A8A5A5 solid 1px;
    position: absolute;
    top:0;
    background-color: #F0F0F0;
    white-space:nowrap; 
    text-align: left;
    -webkit-box-shadow: 3px 3px 3px #938080;
    box-shadow: 3px 3px 3px #938080;
    z-index: 100;
}